@page "/topic/{TopicId}"
@attribute [Authorize]
@inherits ReactiveComponentBase<Topic.VModel>

<MudBreadcrumbs Separator="⪧" Items="ViewModel!.Breadcrumbs">
    <ItemTemplate Context="item">
        <MudLink Color="Color.Secondary" Disabled="item.Disabled" OnClick="() => OnConceptSelected(item.Href!)">
            @item.Text
        </MudLink>
    </ItemTemplate>
</MudBreadcrumbs>
<div class="ma-3 pa-3">
    <LoadingSection Value="AppModel.CurrentConcept" Context="concept">
        <View><ConceptDetails Concept="concept" OnConceptSelected="OnConceptSelected"/></View>
    </LoadingSection>
</div>