.adorn-start {
    background-color: #ebe8d6;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 2rem 0 0 2rem;
}

.adorn-end {
    background-color: #ebe8d6;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0 2rem 2rem 0;
}

.search {
    display: flex;
}

.search > * {
    background-color: #ebe8d6;
}

.search-input {
    width: 100%;
}

.search > input::-webkit-input-placeholder {
    color: darkgray;
}