@page "/"
@inject NavigationManager NavManager
@inject AppModel.ViewModel VM
    
<MudContainer Class="pa-5" Style="text-align: center">
    <MudPaper Height="20em" Width="100%" Class="d-flex justify-center align-center mud-theme-primary mb-5">
        <h1>Tirax Concepts</h1>
    </MudPaper>
    <MudFab StartIcon="@Icons.Material.Filled.Lightbulb" Label="My Concepts" OnClick="GoHome" />
</MudContainer>

@code {

    void GoHome() {
        NavManager.NavigateTo($"/topic/{VM.CurrentTopic}");
    }

}