@page "/"

@attribute [AllowAnonymous]
@inject NavigationManager NavManager
@inject IAppFacade AppFacade
    
<MudPaper Height="240px" Width="100%" Class="d-flex justify-center align-center mud-theme-primary mb-5 
rounded-tl-0 rounded-tr-0 rounded-bl-lg rounded-br-lg">
    <MudText Typo="Typo.h5">Tirax Concepts</MudText>
</MudPaper>
<div style="text-align: center">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Lightbulb" Size="Size.Large" Color="Color.Primary"
               OnClick="GoHome">
        My Concepts
    </MudButton>
</div>

@code {

    async Task GoHome() {
        var root = await AppFacade.PublicLibrary.GetRoot();
        NavManager.NavigateTo($"/topic/{root.Id}");
    }

}