@page "/"
@inherits ReactiveComponentBase<AppModel.ViewModel>

<TopBar ViewModel="ViewModel" />
<Drawer ViewModel="ViewModel" />

<MudMainContent>
    <div class="ma-3 pa-3">
        <LoadingSection Value="ViewModel?.CurrentConcept">
            <View><ConceptDetails Concept="@context" /></View>
        </LoadingSection>
    </div>
</MudMainContent>